@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #a78bfa;
  --primary-dark: #6b46c1;
  --primary-darker: #4522a0;
  --primary-light: #c4b5fd;
  --secondary: #64748b;
  --accent: #8b5cf6;
  --card-background: #1a1a1a;
  --outline: #2e2e2e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-darker: var(--primary-darker);
  --color-primary-light: var(--primary-light);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-card: var(--card-background);
  --color-outline: var(--outline);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-outfit: var(--font-outfit);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #a78bfa;
    --primary-dark: #6b46c1;
    --primary-darker: #4522a0;
    --primary-light: #c4b5fd;
    --secondary: #64748b;
    --accent: #8b5cf6;
    --card-background: #1a1a1a;
    --outline: #2e2e2e;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), Arial, Helvetica, sans-serif;
}

